.cart {
  height: 5vh !important;
  margin-right: none;
}
.navMargin {
  margin-right: 1rem !important;
  text-decoration: none;
  color: white;
}

.cat {
  margin-right: 2.5rem !important;
  font-size: 1.5rem;
}

.title {
  margin-right: 37vw;
}
