.titulo{text-align: center;
color: rgb(134, 134, 134);
font-size: 3rem;
background-color: gainsboro;
font-weight: bolder;}

.item{text-align: center;
font-size: 2rem;}

.Grcart{height: 50px;}

.carga{margin:10% 35%;
font-size: 4rem;
white-space: nowrap;}

.ola{  display: grid!important;

    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr))!important;
    

  }